{% for post in posts %}
	<div class="rss">
				<div class="time">
					<table>
						<tr>
							{% if post.image %}
							<td><img src="{{ post.image }}" alt="Pulpit rock" width="75px"></td>
							{% endif %}
							<td><h4><a class="link" href="{{ post.link }}">{{ post.title }}</a>    |    {{ post.date }}</h4></td>
						</tr>
					</table>
				</div>
				{% if post.audio %}
					<audio controls height="100" width="100">
  						<source src="{{ post.audio }}" type="audio/mpeg">
  						<source src="{{ post.audio }}" type="audio/ogg">
  						<embed height="50" width="100" src="{{ post.audio }}">
					</audio>
				{% endif %}
				
				{% if post.video %}
					<video width="320" height="240" controls>
  						<source src="{{ post.video }}" type="video/mp4">
  						<source src="{{ post.video }}" type="video/ogg">
  						<source src="{{ post.video }}" type="video/webm">
  						<object data="{{ post.video }}" width="320" height="240">
    						<embed src="{{ post.video }}" width="320" height="240">
  						</object> 
					</video>
				{% endif %}
				
				<div class="links">{{ post.links }}</div>
				<div class="body">{{ post.summary|safe }}</div>
	</div>
	<hr>
{% endfor %}