{% extends "dashboard/dashboard-base.html" %}

{% block content %}
	<div id="subscribed_channels" class="subscribed_channels">
	<h3>Manage my subscriptions</h3>
	{% for subscription in subscribed %}
	<div class="channel">
				<div class="time"><h4><a href="/channels/v/{{ subscription.channel.url_ext }}">{{ subscription.channel.title }}</a> | {{ subscription.channel.created }}</h4></div>
				<div class="body">{{ subscription.channel.description|linebreaks }}</div>
	</div>
	<hr>
	{% endfor %}
	</div>
{% endblock %}